body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #FFF;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.content-spease {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  align-items: center;
}

.header {
  background-color: #222222;
  min-height: 75px;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-between;
  width: 100%;
}

.nav {
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.bar {
  display: inline-flex;
  list-style: none;
  grid-column: 2;
  align-items: flex-end;
  justify-content: flex-end;
}

.left_posit {
  grid-column: 1;
  display: inline-flex;
}

.logo_page {
  margin-right: 41px;
}

#search {
  border: none;
  background: none;
}

.form_header_search {
  display: flex;
  align-items: center;
}

.basket-items {
  position: relative;
}

.items {
  margin-left: 33px;
}

.cost-basket {
  top: -15px;
  right: -12px;
  position: absolute;
  color: #fff;
  background-color: #F16D7F;
  padding: 3px 8px;
  border-radius: 100px;
}

.items-menu .menu_block {
  display: none;
  background: #fff;
  width: 232px;
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  margin-top: 21px;
  list-style: none;
}
.items-menu .list_showder_submenu {
  text-decoration: none;
  padding-left: 53px;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
}
.items-menu .link-spase {
  padding-top: 5px;
  padding-bottom: 5px;
}
.items-menu .h1_menu {
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  padding-left: 20px;
  color: #000;
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: 700;
}
.items-menu .h2_menu {
  color: #F16D7F;
  padding-left: 32px;
}

.items-menu:hover .menu_block {
  display: block;
  z-index: 999;
}

.main {
  justify-content: space-between;
  justify-items: stretch;
}

.header_fon {
  grid-column: 1/4;
  padding: 0;
  margin: 0;
  background-color: #F1E4E6;
  display: grid;
  grid-template-columns: 0.15fr 2fr 0.15fr;
  justify-items: center;
  justify-content: space-between;
}

.header_top {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.header_top_img {
  grid-column: 1;
  max-width: 800px;
  min-width: 386px;
}

.header_top_info {
  display: flexbox;
  border-left: 12px solid #F16D7F;
  text-transform: uppercase;
  padding-left: 16px;
}
.header_top_info .title_header {
  font-size: 48px;
  font-weight: 900;
}
.header_top_info .subtitle_header {
  font-size: 32px;
  font-weight: 700;
}
.header_top_info .text_color {
  color: #F16D7F;
}

.infoblok-imges {
  grid-column: 2;
}

.spase-infoblock-imges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-top: 65px;
}

.b1 {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/info-img01.png) no-repeat;
  min-height: 167px;
  max-height: 260px;
  min-width: 232px;
  max-width: auto;
  width: 100%;
}

.b2 {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/info-img02.png) no-repeat;
  min-height: 167px;
  max-height: 260px;
  min-width: 232px;
  max-width: auto;
  width: 100%;
}

.b3 {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/info-img03.png) no-repeat;
  min-height: 167px;
  max-height: 260px;
  min-width: 232px;
  max-width: auto;
  width: 100%;
}

.b4 {
  margin-top: 10%;
  grid-column: 1/4;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(/img/info-img04.png) no-repeat;
  min-width: 343px;
  max-width: auto;
  min-height: 180px;
}

.block-sales {
  display: flex;
  margin: 7.5px;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
  width: calc(100% - 30px);
}

.title-blok-img-sales {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: auto;
}

.subtitle {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.shop-block-info {
  text-align: center;
}

.full-list-shop {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
}

.shop-block-info {
  grid-row: 1;
  grid-column: 1/4;
  margin-bottom: 65px;
}

.title-shop-info {
  font-size: 30px;
  font-weight: 400;
}

.subtext-shop-info {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
}

.img-shop-card {
  width: auto;
  height: auto;
}

.shopblock {
  margin: 25px 30px;
  background-color: #F8F8F8;
  padding-bottom: 24px;
  display: grid;
  justify-self: center;
  position: relative;
}
.shopblock .btn-block {
  display: none;
  position: absolute;
  padding-top: 11px;
  padding-left: 13px;
  padding-bottom: 8px;
  padding-right: 16px;
  top: 30%;
  left: 25%;
  right: 25%;
}

.shopblock:hover .img-shop-card {
  -webkit-filter: brightness(50%);
  transition: all 1s ease;
}
.shopblock:hover .btn-block {
  display: inline-flex;
  color: #FFF;
  border: 1px solid #fff;
  background: none;
  align-items: center;
  justify-content: space-around;
}
.shopblock:hover .btn-block .text-shop-add {
  padding-left: 11px;
}

.img-shop-card {
  -webkit-filter: brightness(100%);
  width: 100%;
  height: 100%;
}

.title-shop {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.subtext-shop {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-pos {
  grid-column: 2;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
}

.btn-shops {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background: none;
  padding: 15px 39px 14px 39px;
}

.btn-shops:hover {
  background: #EF5B70;
}
.btn-shops:hover .link-btn-shops {
  color: #fff;
}

.fon-info-delivery {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  background-color: #222224;
  background-size: 100%;
}

.info-delivery {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-info {
  padding: 100px 0;
  color: #FBFBFB;
  text-align: center;
  display: grid;
  align-items: end;
  justify-items: center;
}

.title_item {
  padding: 16px 0;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_item {
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.d1 {
  grid-column: 1;
}

.d2 {
  grid-column: 2;
}

.d3 {
  grid-column: 3;
}

.footer-info {
  background-color: #222224;
  max-height: 79px;
  align-content: space-evenly;
  justify-content: space-around;
  justify-items: stretch;
  width: 100%;
}

.info-content-footer {
  margin: 24px 0;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #FBFBFB;
  align-items: center;
}

.icon-links {
  display: inline-flex;
  background: #FFF;
  margin: 0 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: space-around;
}

.icon-links:hover {
  background: #EF5B70;
}
.icon-links:hover .icon-img {
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(86deg) brightness(118%) contrast(124.1%);
}

.icon-img {
  height: 16px;
}

.info-order {
  display: grid;
  grid-column: 2;
  color: #222224;
  text-align: center;
  font-weight: 400;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 126px;
}

.style-subtitle {
  font-style: italic;
}

.info-text-order {
  padding-top: 97px;
  width: 359.449px;
  font-size: 20px;
  grid-column: 1;
}

.order-messaeges {
  grid-column: 2;
}

.form-order {
  grid-column: 1/4;
  background: linear-gradient(rgba(241, 241, 241, 0.7), rgba(241, 241, 241, 0.7)), url(/img/fon-form-order.png), lightgray 0px -169px/100% 246.875%;
  background-repeat: no-repeat;
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: 0.15fr 2fr 0.15fr;
}

.subtitle-order {
  padding-top: 30px;
}

.info-right-footer {
  display: flex;
  justify-content: flex-end;
}

.text-form-info {
  color: #222224;
  text-align: center;
  line-height: 167.2%;
  padding-bottom: 32px;
  padding-top: 150px;
}

.title-form {
  font-size: 24px;
  font-weight: 700;
}

.subtitle-form {
  font-size: 18px;
  font-weight: 400;
}

#field-email {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: none;
  padding-left: 22px;
}

.btn-email {
  background-color: #F16D7F;
  color: #FFF;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0 30px;
  height: 49px;
  border: none;
}

.order-messaeges {
  display: inline-table;
}

.cart-items {
  font-size: 30px;
  font-weight: 400;
  color: #222;
  grid-column: 2/4;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr;
  padding-bottom: 96px;
}

.title-cart-items {
  padding-top: 96px;
  padding-bottom: 64px;
  text-align: center;
  grid-column: 1/3;
}

.text-product-cart {
  position: relative;
  padding-left: 31px;
  padding-bottom: 38px;
}

.cart-product {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr;
  margin-bottom: 40px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
  grid-column: 1;
}

.clouse-cart {
  position: absolute;
  top: 15px;
  right: 15px;
}

.product-1 {
  grid-column: 1;
  grid-row: 2;
}

.product-2 {
  grid-column: 1;
  grid-row: 3;
}

.img-cart-product {
  grid-column: 1;
}

.title-cart-product {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 42px;
  padding-top: 22px;
}

.info-product {
  color: #575757;
  font-size: 22px;
  font-weight: 400;
}

.coins-product {
  color: #EF5B70;
}

.quantity {
  display: inline-flex;
  position: relative;
}

#cost-product {
  margin-left: 24px;
  padding: 0 auto;
}

.link-btn-shops {
  color: #F26376;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.delimiter {
  color: #222224;
  padding: 0 5px;
}

.line-options {
  padding: 8px 0;
  color: #6F6E6E;
}

.header-pages {
  background: #F8F3F4;
  grid-column: 1/4;
  height: 148px;
  display: grid;
  align-items: center;
  grid-template-columns: 0.15fr 1fr 1fr 0.15fr;
}

#title-options {
  color: #6F6E6E;
  display: inline-flex;
  align-items: center;
}

.icon-options {
  fill: #6F6E6E;
}

.block-title-pages-info {
  height: 148px;
  background-color: #F8F3F4;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
  text-align: right;
  align-items: center;
}

.title-pages {
  grid-column: 2;
  display: grid;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  color: #F16D7F;
  text-transform: uppercase;
}

.bar-links-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
}

.nav-pages {
  grid-column: 3;
  text-transform: uppercase;
  font-size: 14px;
  color: #636363;
  font-weight: 300;
  text-decoration: none;
}

.active-link-nav {
  font-weight: 700;
  color: #F16D7F;
}

.title-options {
  text-transform: uppercase;
  color: #6F6E6E;
}

.icon-options {
  padding-left: 10px;
}

.title-filter {
  margin-left: 18px;
}

#title-options:hover {
  color: #EF5B70;
}
#title-options:hover .icon-options {
  fill: #EF5B70;
}

.advanced_settings {
  grid-row: 1;
  display: inline-flex;
  justify-content: flex-start;
  margin-right: 27px;
}

.block-options {
  grid-column: 1/4;
  display: flex;
  position: relative;
  z-index: 989;
  padding: 8px 0;
}

.filter {
  width: 360px;
  grid-column: 1;
  z-index: 999;
  grid-row: 1;
}

.filter:hover {
  background-color: #fff;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  padding: 8px 0;
}

.post-size {
  display: block;
}

.line-size-label {
  color: #6F6E6E;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 9px;
  display: inline;
}

.line-size {
  display: inline-flex;
}

.list_viwe {
  list-style: none;
  color: #6F6E6E;
  padding: 11px;
}

.link_viwe {
  padding-left: 34px;
  margin: 11px 0;
}

.category_viwe {
  color: #6F6E6E;
  padding: 12px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin: 18px;
  z-index: 999;
}

.dop-list, .line-filter {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.block_options_list {
  position: absolute;
  display: none;
  top: 30px;
}

.dop-list:hover {
  background: #fff;
}
.dop-list:hover .block_options_list {
  display: block;
  background-color: #fff;
}

.fillter-suboptions {
  width: 360px;
}

.size-suboptions {
  padding-top: 9px;
  padding-left: 9px;
  width: 79px;
  height: 103px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}

.icon-fillte {
  padding-left: 10px;
}

.title-pages {
  grid-row: 1;
}

.bar-links-navigation {
  grid-row: 1;
  justify-content: right;
}

.btn-pages-list {
  background: none;
  border: none;
  padding: 0 14px;
}

.active {
  color: #EF5B70;
  font-size: 16px;
  font-weight: 300;
  padding: 11px 12px;
}

.list_page {
  grid-column: 1/4;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 96px;
}

.list-pages-style {
  display: inline-flex;
  list-style: none;
  border: 1px solid #EBEBEB;
}

.items-pages {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
  padding: 11px 12px;
}

.space-registration {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 65px;
  margin-bottom: 95px;
}

.registration-form {
  grid-column: 1;
}

.registration-information-info {
  grid-column: 2;
}

.title-registration {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #222;
}

.text-input-registration {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}

#gender {
  margin: 20px 0;
  font-size: 11px;
  color: #000;
  font-weight: 300;
}

.gender-label {
  margin-right: 20px;
  font-weight: 300;
  font-size: 11px;
}

.info-registration-subtitle {
  max-width: 652px;
  max-height: 58px;
  min-width: 354px;
}

.info-registration {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}

.text-input-registration {
  width: 360px;
  height: 45px;
  display: block;
  margin: 20px 0;
  padding-left: 17px;
}

.registration-btn {
  margin-top: 40px;
  background-color: #F16D7F;
  border: none;
  padding: 16px 16px 16px 0;
}

.btn-text {
  display: inline;
  text-align: center;
  padding-left: 29px;
  padding-right: 20px;
  color: white;
}

.list-registration {
  list-style-image: url(/img/list-registration.svg);
  margin-top: 21px;
}

.items-list-registration {
  padding-left: 23px;
  padding-top: 16px;
  margin-left: 26px;
}

.registration-information-info {
  font-weight: 300;
  font-size: 24px;
}
.registration-information-info .title-info-registration {
  margin-bottom: 22px;
  text-transform: uppercase;
}

.cart-items-shop {
  margin-top: 96px;
  font-size: 30px;
  font-weight: 400;
  color: #222;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  padding-bottom: 96px;
}

.btn-cart-shop {
  grid-row: 4;
  grid-column: 1;
  display: inline-flex;
  justify-content: space-between;
}

.btn-cart {
  font-weight: 300;
  font-size: 14px;
  background: none;
  border: 1px solid #A4A4A4;
  width: 235px;
  height: 50px;
}

.shipping-adress {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  max-width: 360px;
  width: 100%;
}

.input-shop-adress {
  margin-top: 20.5px;
  padding: 13px 17.24px 16px;
}

.position-shipping-adress {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
}

.position-total-border {
  grid-column: 2/3;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
}

.total-bord {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;
}

.title-bord, .title-cost {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid #e2e2e2;
}

.subtitle-bord, .subtitle-cost {
  margin-top: 39px;
  margin-bottom: 6px;
  text-align: right;
  font-size: 11px;
  color: #4A4A4A;
  font-weight: 400;
}

.subtitle-bord {
  margin-left: 43px;
}

.title-bord {
  margin-left: 43px;
}

.subtitle-cost {
  margin-right: 37px;
  margin-left: 43px;
}

.title-cost {
  color: #F16D7F;
  text-align: right;
  margin-right: 37px;
}

.proceed-btn {
  background: #F16D7F;
  grid-column: 1/3;
  border: none;
  color: #EBEBEB;
  font-size: 16px;
  font-weight: 300;
  width: 273px;
  height: 50px;
  margin-top: 17px;
  margin-right: auto;
  margin-left: auto;
}

.btn-shiping-adress {
  width: 101px;
  height: 35px;
  margin-top: 23px;
  padding: 10px 13px 13px;
  font-size: 11px;
  font-weight: 300;
  color: #4A4A4A;
  background: none;
  border: 1px solid #A4A4A4;
}

.title-shipping-adress {
  color: #222;
  font-size: 16px;
  font-weight: 300;
}

.product-info {
  grid-column: 1/4;
}

.slader-product {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  grid-template-rows: 0.5fr 0.5fr;
  background-color: #f7f7f7;
}

.btn-slader1 {
  grid-row: 1/2;
  grid-column: 3;
  position: absolute;
  right: 0;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  margin-left: 467px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-slader2 {
  grid-column: 1;
  grid-row: 1/2;
  position: absolute;
  left: 0;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  margin-right: 467px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-product {
  grid-column: 1/4;
  grid-row: 1;
  margin: auto 0;
}

.product-block-info {
  width: calc(100% - 230px);
  position: absolute;
  top: -25%;
  grid-column: 1/4;
  grid-row: 2;
  background-color: #fff;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-block-info .title-categoria-product {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding-top: 64px;
  padding-bottom: 12px;
  color: #F16D7F;
}
.product-block-info .title-categoria-product::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60%;
  height: 2px;
  margin-left: -30%;
  background: #F16D7F;
}
.product-block-info .title-product {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
  color: #4D4D4D;
}
.product-block-info .subtitle-product {
  text-align: center;
  color: #4D4D4D;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 300;
  width: 555px;
  height: 51px;
}
.product-block-info .cost-product {
  color: #EF5B70;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 65px;
}
.product-block-info .options-categori {
  display: flex;
  border-top: 1px solid #EAEAEA;
}
.product-block-info .categori-items {
  margin-top: 65px;
  margin-right: 22px;
}
.product-block-info .btn-product-cost {
  display: inline-flex;
  align-items: center;
  border: 1px solid #FF6A6A;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  padding-right: 57px;
  margin-top: 48px;
}
.product-block-info .btn-text-product {
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  padding-left: 22px;
}

#product_page {
  margin-top: 240px;
  margin-bottom: 128px;
}

@media screen and (max-width: 768px) and (min-width: 375px) {
  .product-block-info {
    width: 100%;
  }
  #product_page {
    grid-template-rows: 1fr;
  }
  #product_page .s3 {
    display: none;
  }
  .header_fon .header_top_img {
    max-width: 386px;
    max-height: 386px;
  }
  .header_top_info .title_header {
    font-size: 44px;
    font-weight: 900;
  }
  .header_top_info .subtitle_header {
    font-size: 24px;
    font-weight: 700;
  }
  .full-list-shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.25fr;
  }
  .full-list-shop .shop-block-info {
    grid-column: 1/4;
    grid-row: 1;
  }
  .full-list-shop .btn-pos {
    grid-column: 1/4;
    grid-row: 5;
  }
  .full-list-shop .s1 {
    grid-column: 1;
    grid-row: 2;
  }
  .full-list-shop .s2 {
    grid-column: 2;
    grid-row: 2;
  }
  .full-list-shop .s3 {
    grid-column: 1;
    grid-row: 3;
  }
  .full-list-shop .s4 {
    grid-column: 2;
    grid-row: 3;
  }
  .full-list-shop .s5 {
    grid-column: 1;
    grid-row: 4;
  }
  .full-list-shop .s6 {
    grid-column: 2;
    grid-row: 4;
  }
  .fon-info-delivery .info-delivery {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
  }
  .fon-info-delivery .d1 {
    grid-row: 1;
    grid-column: 1;
  }
  .fon-info-delivery .d2 {
    grid-row: 2;
    grid-column: 1;
  }
  .fon-info-delivery .d3 {
    grid-row: 3;
    grid-column: 1;
  }
  .spase-infoblock-imges .b4 {
    max-width: 736px;
    height: 166px;
    width: 100%;
  }
  .form-order {
    display: grid;
    background-position: bottom;
  }
  .info-order {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .info-order .info-text-order {
    grid-column: 1;
    grid-row: 1;
  }
  .info-order .order-messaeges {
    grid-row: 2;
    grid-column: 1;
  }
  .b1 .b2 .b3 {
    max-width: 232px;
    max-height: 167px;
    height: 100%;
    width: 100%;
  }
  .cart-product {
    grid-column: 1/4;
  }
  .product-1 {
    grid-row: 1;
  }
  .product-2 {
    grid-row: 2;
  }
  .btn-cart-shop {
    grid-column: 1/4;
    grid-row: 3;
  }
  .position-shipping-adress {
    grid-column: 1;
    grid-row: 4;
  }
  .position-total-border {
    margin-left: 15px;
    grid-column: 2;
    grid-row: 4;
  }
  .cart-items-shop {
    grid-template-rows: 0.1fr 1fr 0.5fr 0.1fr;
  }
  .space-registration {
    grid-column: 1/4;
    margin-top: 40px;
    justify-content: space-evenly;
    margin-left: 15px;
  }
  .registration-information-info {
    max-width: 354px;
    width: 100%;
    margin-left: 60px;
    font-size: 16px;
  }
  .list-registration {
    margin-top: 22px;
  }
  .text-input-registration {
    max-width: 360px;
    width: 100%;
  }
  .registration-form {
    max-width: 360px;
    width: 100%;
    display: flexbox;
    justify-content: right;
  }
  .block-options {
    font-size: 14px;
    grid-template-columns: 1fr 1fr;
  }
  .trending_now {
    grid-column: 2;
    margin-right: 27px;
  }
  .size_options {
    grid-column: 3;
    margin-right: 27px;
  }
  .price_options {
    grid-column: 4;
  }
  .full-list-shop {
    grid-template-columns: 1fr 1fr;
  }
  .full-list-shop .s1 {
    grid-row: 2;
    grid-column: 1;
  }
  .full-list-shop .s2 {
    grid-row: 2;
    grid-column: 2;
  }
  .full-list-shop .s3 {
    grid-row: 3;
    grid-column: 1;
  }
  .full-list-shop .s4 {
    grid-row: 3;
    grid-column: 2;
  }
  .full-list-shop .s5 {
    grid-row: 4;
    grid-column: 1;
  }
  .full-list-shop .s6 {
    grid-row: 4;
    grid-column: 2;
  }
  .full-list-shop .s7 {
    grid-row: 5;
    grid-column: 1;
  }
  .full-list-shop .s8 {
    grid-row: 5;
    grid-column: 2;
  }
  .full-list-shop .s9 {
    display: none;
  }
  .filter {
    width: 328px;
  }
  .fillter-suboptions {
    width: 320px;
    top: 35px;
  }
  .size-suboptions {
    top: 35px;
    width: 56px;
  }
}
@media screen and (max-width: 375px) {
  .product-info {
    width: 100%;
    max-width: 768px;
    grid-column: 1/4;
  }
  .img-product {
    width: 100%;
    max-width: 768px;
  }
  .btn-slader1 {
    grid-row: 1;
  }
  .btn-slader2 {
    grid-row: 1;
  }
  #product_page {
    padding-top: 200px;
  }
  #product_page .s3 {
    display: none;
  }
  .product-block-info {
    width: 100%;
    max-width: 768px;
    grid-row: 2;
    top: 0;
    font-size: 14px;
  }
  .product-block-info .subtitle-product {
    max-width: 326px;
    padding-bottom: 32px;
  }
  .product-block-info .line-option {
    font-size: 10px;
    color: #6F6E6E;
  }
  .bar-links-navigation {
    grid-row: 2;
  }
  .header {
    max-width: 375px;
    width: 100%;
  }
  .header_fon {
    max-width: 375px;
    height: 375px;
  }
  .header_fon .header_top_img {
    display: none;
  }
  .main {
    max-width: 375px;
    width: 100%;
  }
  .cart-items-shop {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.25fr 1.3fr 0.25fr;
  }
  .shipping-adress {
    max-width: none;
  }
  .total-bord {
    width: 100%;
  }
  .proceed-btn {
    width: calc(100% - 44px);
  }
  .bar-links-navigation {
    justify-content: center;
  }
  .position-shipping-adress {
    grid-column: 1;
    grid-row: 4;
    justify-content: space-between;
    max-width: 375px;
  }
  .position-total-border {
    grid-column: 1;
    grid-row: 5;
    max-width: 375px;
  }
  .product-1 {
    grid-row: 1;
  }
  .product-2 {
    grid-row: 2;
  }
  .block-title-pages-info {
    max-width: 768px;
    width: 100%;
  }
  .img-cart-product {
    width: 143px;
    height: 100%;
  }
  .title-cart-product {
    font-size: 16px;
  }
  .clouse-cart {
    width: 9px;
    height: 11px;
  }
  .info-product {
    font-size: 14px;
  }
  .cart-product {
    grid-column: 1;
    max-width: 375px;
  }
  .btn-cart-shop {
    grid-column: 1;
    grid-row: 3;
    font-size: 12px;
    max-width: 375px;
  }
  .shipping-adress {
    grid-column: 1;
    grid-row: 3;
    margin-left: 10px;
  }
  .menu_block {
    right: 0px;
  }
  .spase-infoblock-imges {
    max-width: 343px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .spase-infoblock-imges .b1 {
    max-width: 343px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
  .spase-infoblock-imges .b2 {
    max-width: 343px;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
  }
  .spase-infoblock-imges .b3 {
    max-width: 343px;
    width: 100%;
    grid-column: 1;
    grid-row: 3;
  }
  .spase-infoblock-imges .b4 {
    max-width: 343px;
    width: 100%;
    grid-column: 1;
    grid-row: 4;
    max-height: 111px;
    background-position: center;
  }
  .list_links_menu {
    display: none;
  }
  .header_top_info .title_header {
    font-size: 38px;
    font-weight: 900;
  }
  .header_top_info .subtitle_header {
    font-size: 20px;
    font-weight: 700;
  }
  .full-list-shop {
    max-width: 375px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.15fr;
  }
  .full-list-shop .shop-block-info {
    grid-column: 1/4;
    grid-row: 1;
  }
  .full-list-shop .btn-pos {
    grid-column: 1/2;
    grid-row: 8;
  }
  .full-list-shop .s1 {
    grid-column: 1;
    grid-row: 2;
  }
  .full-list-shop .s2 {
    grid-column: 1;
    grid-row: 3;
  }
  .full-list-shop .s3 {
    grid-column: 1;
    grid-row: 4;
  }
  .full-list-shop .s4 {
    grid-column: 1;
    grid-row: 5;
  }
  .full-list-shop .s5 {
    grid-column: 1;
    grid-row: 6;
  }
  .full-list-shop .s6 {
    grid-column: 1;
    grid-row: 7;
  }
  .full-list-shop .s7 {
    grid-column: 1;
    grid-row: 8;
  }
  .full-list-shop .s8 {
    grid-column: 1;
    grid-row: 9;
  }
  .fon-info-delivery .info-delivery {
    max-width: 375px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
  }
  .fon-info-delivery .d1 {
    grid-row: 1;
    grid-column: 1;
  }
  .fon-info-delivery .d2 {
    grid-row: 2;
    grid-column: 1;
  }
  .fon-info-delivery .d3 {
    grid-row: 3;
    grid-column: 1;
  }
  .form-order {
    max-width: 375px;
    display: grid;
    background-position: bottom;
  }
  .info-order {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .info-order .info-text-order {
    grid-column: 1;
    grid-row: 1;
  }
  .info-order .order-messaeges {
    grid-row: 2;
    grid-column: 1;
  }
  .footer-info {
    max-height: none;
  }
  .info-content-footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .info-content-footer .info-right-footer {
    grid-row: 1;
  }
  .info-content-footer .info-left-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .block-title-pages-info {
    grid-column: 1/5;
    max-width: 375px;
    width: 100%;
  }
  .title-pages {
    grid-row: 1;
    grid-column: 1/5;
    text-align: center;
  }
  .space-registration {
    max-width: 375px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
  }
  .space-registration .registration-form {
    grid-column: 1;
    grid-row: 1;
  }
  .space-registration .registration-information-info {
    margin-top: 40px;
    margin-left: 0;
    grid-column: 1;
    grid-row: 2;
  }
  .info-registration-subtitle {
    font-size: 16px;
  }
  .list-registration {
    margin-top: 22px;
    font-size: 16px;
  }
  .order-messaeges {
    max-width: 375px;
    width: 100%;
  }
  #field-email {
    max-width: 200px;
    width: 100%;
  }
  .text-input-registration {
    max-width: 330px;
  }
  .full-list-shop {
    grid-column: 1/4;
  }
  .title-filter {
    display: none;
  }
  .line-options {
    font-size: 12px;
  }
  .filter {
    width: 35px;
  }
  .fillter-suboptions {
    top: 25px;
  }
}/*# sourceMappingURL=style.css.map */